@import "../abstract/variables";
@import "../base/typography";

.destination-picture {
  background-image: url(../img/destination/background-destination-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  //   background: url(../img/home/background-home-desktop.jpg) no-repeat;

  position: relative;

  height: 100vh;
}

.destination-text {
  grid-row: 2 / -1;
  position: absolute;
  bottom: 0;
  top: 0;
  width: 85%;

  margin: 0 auto;
  padding: 60px 90px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 3fr;

  .destination-heading {
    grid-row: -1 / 1;
    grid-column: -1 / 1;
  }

  #moon,
  #mars,
  #europa,
  #titan {
    grid-row: 2 / -1;
    grid-column: -1 / 1;

    margin: 60px;
  }

  .mini-nav {
    grid-row: 2 / -1;
    grid-column: 2 /-1;

    display: flex;
    flex-direction: column;
  }
}

.sub-heading {
  display: flex;
  gap: 15px;

  font-family: $font-family-2;

  b {
    font-weight: 300;
    color: rgba(95, 95, 95, 0.897);
    font-size: $sub-heading-1-font-size;
  }
  h2 {
    font-weight: 400;
    color: $ascent-color-1;
    text-transform: uppercase;
    font-size: $sub-heading-1-font-size;
  }
}

.mini-nav {
  .mini-nav-heading {
    ul {
      list-style: none;

      display: flex;
      gap: 20px;

      li {
        a {
          color: $ascent-color-2;
          text-decoration: none;
          font-family: $font-family-2;
          font-weight: 300;
          text-transform: uppercase;
        }
      }
    }
  }

  .mini-text {
    h1 {
      font-family: $font-family-1;
      color: $ascent-color-2;
      font-size: $heading-1-font-size;
      padding: 20px 0;
      font-weight: 400;
    }
    p {
      font-family: $font-family-2;
      color: $ascent-color-1;
      font-size: 14px;
      max-width: 44ch;
      padding: 25px 0;
    }
  }

  .mini-sub-text {
    display: flex;
    text-transform: uppercase;

    ul {
      list-style: none;
      padding: 10px;
      border-top: solid 1.5px rgba(255, 255, 255, 0.274);

      :nth-child(1) {
        color: $ascent-color-1;
        font-family: $font-family-2;
      }
      :nth-child(2) {
        color: $ascent-color-2;
        font-family: $font-family-1;
      }
    }
  }
}
