#circle {
  height: 250px;
  width: 250px;
  padding: 25px;
  border-radius: 50%;
  background-color: $ascent-color-2;

  display: flex;
  align-items: center;
  justify-content: center;

  h4 {
    font-family: $font-family-1;
    font-size: $heading-4-font-size;
    text-transform: uppercase;
    font-weight: 300;
  }
}

#description-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home-text {
  grid-row: 2 / -1;
  display: flex;
  justify-content: space-around;
  align-items: center;

  h3 {
    font-family: $font-family-2;
    font-size: $heading-5-font-size;
    text-transform: uppercase;
    color: $ascent-color-1;
    //  letter-spacing: 4.75ch;
  }

  h1 {
    font-family: $font-family-1;
    font-size: $heading-1-font-size;
    color: $ascent-color-2;
    font-weight: 400;
  }

  p {
    color: $ascent-color-1;
    font-family: $font-family-2;
    font-size: 14px;
    max-width: 44ch;
  }

  //   position: absolute;
  //   top: 35%;
  //   left: 5%;
}

.home-picture {
  background-image: url(../img/home/background-home-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  //   background: url(../img/home/background-home-desktop.jpg) no-repeat;

  position: relative;

  height: 100vh;
}
