@import "../abstract/variables";
@import "../base/typography";

.technology-picture {
  background-image: url(../img/technology/background-technology-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  //   background: url(../img/home/background-home-desktop.jpg) no-repeat;

  position: relative;

  height: 100vh;
}

.technology-container {
  position: absolute;
  top: 0;
  bottom: 0;

  display: grid;
  grid-template-rows: 0.5fr 3fr;

  width: 80%;
  padding: 10%;
}

.technology-sub-container {
  display: grid;
  grid-template-columns: 0.5fr 4fr 3.5fr;
  align-items: center;

  width: 100%;

  position: relative;

  .nav-numbers {
  }

  .technology-description {
    grid-column: 2 / 3;
    padding: 45px;
  }

  .technology-images {
    grid-column: 3 / -1;

    width: 100%;
    position: absolute;
    right: -10%;
  }
}

.nav-numbers {
  .btn-number {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;

    height: 80px;
    width: 80px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);

    color: #fff;

    font-family: $font-family-1;
    font-size: 32px;
  }

  .active-number {
    background-color: rgba(255, 255, 255, 1);
    border: 0;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
  }
}

.technology-description {
  .technology-text {
    display: none;
    width: 100%;
  }

  .active-txt {
    display: flex;
    flex-direction: column;
  }
}

.technology-description {
  .technology-text {
    h1 {
      font-family: $font-family-1;
      color: $ascent-color-2;
      font-size: $heading-3-font-size;
      font-weight: 400;
      text-transform: uppercase;
    }
    h3 {
      color: rgb(112, 112, 112);
      font-family: $font-family-2;
      font-size: $heading-5-font-size;
      font-weight: 300;
      text-transform: uppercase;
      padding: 15px 0;
    }
    p {
      font-family: $font-family-2;
      color: $ascent-color-1;
      font-size: 16px;
      // letter-spacing: 2.4px;
      max-width: 44ch;
      padding: 25px 0;
    }
  }

  .technology-txt-img {
    position: absolute;
    right: -15%;

    picture {
      img {
        object-fit: cover;
        //   height: 600px;
      }
    }
  }
}

.technology-images {
  .technology-img {
    display: none;
  }

  .active-img {
    display: flex;
  }
}
