*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 100%; }

body {
  box-sizing: border-box; }

.container {
  display: grid;
  grid-template-rows: 1fr 3fr; }

.main-nav {
  grid-row: -1 / 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%; }
  .main-nav #logo {
    padding: 60px;
    max-width: 5%; }
  .main-nav #line {
    border-bottom: solid 1.5px rgba(255, 255, 255, 0.274);
    width: 45%;
    margin-right: -90px; }
  .main-nav .main-nav-heading {
    width: 45%; }

.main-nav-heading {
  font-size: 20px;
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  z-index: 100; }
  .main-nav-heading ul {
    display: flex;
    gap: 50px;
    padding: 30px 30px 30px 90px;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.1); }
    .main-nav-heading ul li a {
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      padding-left: 5px; }

#circle {
  height: 250px;
  width: 250px;
  padding: 25px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center; }
  #circle h4 {
    font-family: "Bellefair", serif;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 300; }

#description-text {
  display: flex;
  flex-direction: column;
  gap: 15px; }

.home-text {
  grid-row: 2 / -1;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .home-text h3 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    color: #d0d6f9; }
  .home-text h1 {
    font-family: "Bellefair", serif;
    font-size: 150px;
    color: #fff;
    font-weight: 400; }
  .home-text p {
    color: #d0d6f9;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 14px;
    max-width: 44ch; }

.home-picture {
  background-image: url(../img/home/background-home-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh; }

.destination-picture {
  background-image: url(../img/destination/background-destination-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh; }

.destination-text {
  grid-row: 2 / -1;
  position: absolute;
  bottom: 0;
  top: 0;
  width: 85%;
  margin: 0 auto;
  padding: 60px 90px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 3fr; }
  .destination-text .destination-heading {
    grid-row: -1 / 1;
    grid-column: -1 / 1; }
  .destination-text #moon,
  .destination-text #mars,
  .destination-text #europa,
  .destination-text #titan {
    grid-row: 2 / -1;
    grid-column: -1 / 1;
    margin: 60px; }
  .destination-text .mini-nav {
    grid-row: 2 / -1;
    grid-column: 2 /-1;
    display: flex;
    flex-direction: column; }

.sub-heading {
  display: flex;
  gap: 15px;
  font-family: "Barlow Condensed", sans-serif; }
  .sub-heading b {
    font-weight: 300;
    color: rgba(95, 95, 95, 0.897);
    font-size: 28px; }
  .sub-heading h2 {
    font-weight: 400;
    color: #d0d6f9;
    text-transform: uppercase;
    font-size: 28px; }

.mini-nav .mini-nav-heading ul {
  list-style: none;
  display: flex;
  gap: 20px; }
  .mini-nav .mini-nav-heading ul li a {
    color: #fff;
    text-decoration: none;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    text-transform: uppercase; }

.mini-nav .mini-text h1 {
  font-family: "Bellefair", serif;
  color: #fff;
  font-size: 150px;
  padding: 20px 0;
  font-weight: 400; }

.mini-nav .mini-text p {
  font-family: "Barlow Condensed", sans-serif;
  color: #d0d6f9;
  font-size: 14px;
  max-width: 44ch;
  padding: 25px 0; }

.mini-nav .mini-sub-text {
  display: flex;
  text-transform: uppercase; }
  .mini-nav .mini-sub-text ul {
    list-style: none;
    padding: 10px;
    border-top: solid 1.5px rgba(255, 255, 255, 0.274); }
    .mini-nav .mini-sub-text ul :nth-child(1) {
      color: #d0d6f9;
      font-family: "Barlow Condensed", sans-serif; }
    .mini-nav .mini-sub-text ul :nth-child(2) {
      color: #fff;
      font-family: "Bellefair", serif; }

.crew-picture {
  background-image: url(../img/crew/background-crew-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh; }

.crews-container {
  display: grid;
  grid-template-rows: 0.5fr 3fr;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80%;
  padding: 10% 10% 0 10%; }

.carousel-sub-container {
  position: relative;
  height: 100%; }

.carousel-sub {
  list-style: none;
  transition: transform 250ms ease-in;
  padding: 0;
  margin: 0; }
  .carousel-sub .carousel-slide {
    display: none; }
  .carousel-sub .active-slide {
    display: flex; }

.carousel-slide {
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0; }
  .carousel-slide .crew-text h1 {
    font-family: "Bellefair", serif;
    color: #fff;
    font-size: 56px;
    font-weight: 400;
    text-transform: uppercase; }
  .carousel-slide .crew-text h3 {
    color: #707070;
    font-family: "Bellefair", serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 15px; }
  .carousel-slide .crew-text p {
    font-family: "Barlow Condensed", sans-serif;
    color: #d0d6f9;
    font-size: 16px;
    max-width: 44ch;
    padding: 25px 0; }

.carousel-dots {
  position: absolute;
  bottom: 10%;
  left: 10%;
  display: flex;
  justify-content: center;
  gap: 15px; }
  .carousel-dots .dots {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    border: 0;
    height: 10px;
    width: 10px;
    cursor: pointer; }
  .carousel-dots .active-dot {
    background-color: white; }

.technology-picture {
  background-image: url(../img/technology/background-technology-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh; }

.technology-container {
  position: absolute;
  top: 0;
  bottom: 0;
  display: grid;
  grid-template-rows: 0.5fr 3fr;
  width: 80%;
  padding: 10%; }

.technology-sub-container {
  display: grid;
  grid-template-columns: 0.5fr 4fr 3.5fr;
  align-items: center;
  width: 100%;
  position: relative; }
  .technology-sub-container .technology-description {
    grid-column: 2 / 3;
    padding: 45px; }
  .technology-sub-container .technology-images {
    grid-column: 3 / -1;
    width: 100%;
    position: absolute;
    right: -10%; }

.nav-numbers .btn-number {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  font-family: "Bellefair", serif;
  font-size: 32px; }

.nav-numbers .active-number {
  background-color: white;
  border: 0;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px; }

.technology-description .technology-text {
  display: none;
  width: 100%; }

.technology-description .active-txt {
  display: flex;
  flex-direction: column; }

.technology-description .technology-text h1 {
  font-family: "Bellefair", serif;
  color: #fff;
  font-size: 56px;
  font-weight: 400;
  text-transform: uppercase; }

.technology-description .technology-text h3 {
  color: #707070;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 15px 0; }

.technology-description .technology-text p {
  font-family: "Barlow Condensed", sans-serif;
  color: #d0d6f9;
  font-size: 16px;
  max-width: 44ch;
  padding: 25px 0; }

.technology-description .technology-txt-img {
  position: absolute;
  right: -15%; }
  .technology-description .technology-txt-img picture img {
    object-fit: cover; }

.technology-images .technology-img {
  display: none; }

.technology-images .active-img {
  display: flex; }
