$font-family-1: "Bellefair", serif;
$font-family-2: "Barlow Condensed", sans-serif;

$heading-1-font-size: 150px;
$heading-2-font-size: 100px;
$heading-3-font-size: 56px;
$heading-4-font-size: 32px;
$heading-5-font-size: 28px; //letterspacing 4.75chrachter space

$sub-heading-1-font-size: 28px;
$sub-heading-2-font-size: 14px; //letterspacing 2.35 chracter spacing

// $nav-font-size: 16px; //letterspacing 2.7 chracter spacing
$nav-font-size: 20px;
